<%= link_to new_food_path do  %>
    <button class="btn btn-success me-0 mb-5 mt-5">Add Food</button>
  <% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Measurement Unit</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody><% @foods.each do |food| %>
    <tr>
      <td><%= food.name %></td>
      <td><%= food.measurement_unit %></td>
      <td><%= food.price %></</td>
      <td> <%= form_with url: food_path(food.id), method: :delete do |form| %>
        <%= form.submit 'Delete', class: "btn btn-danger" %>
      <% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
