<%= form_with model: @food, url: foods_url do |form| %>
    <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    </div>
    <div>
    <%= form.label :measurement_unit %>
    <%= form.text_field :measurement_unit %>
    </div>
    <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
    </div>
    <%= form.submit "Add Food" %>
  <% end %>
