<h1>New Recipe</h1>

<%= form_with url: '/add_new_recipe' do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field(:name) %>
    </div>
    <div>
      <%= form.label :Preparation_Time %>
      <%= form.number_field(:preparation_time) %>
    </div>
    <div>
      <%= form.label :Cooking_time %>
      <%= form.number_field(:cooking_time) %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.text_field(:description) %>
    </div>
    <div>
      <%= form.label :public %>
      <%= form.check_box(:public) %>
    </div>
    <%= form.submit "Create" %>
<br>
<%end%>

<div>
  <%= link_to "Back to inventories", inventories_path %>
</div>
